{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
    <style>
         body {
        text-align: center;
        background-image: url('{% static "app/login.png" %}');
        size: cover;
        background-repeat: no-repeat;
        background-size: 100%;
      }
        #imh {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        #imp {
          color: #ffffff;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      #imi {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      #imcard {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
      footer{
            margin-top: 375px!important;
        }
    </style>
{% endblock css %}
    

{% block content %}
    <div style="margin-top: 7%;" class="container">
        <div id="imcard" class="card bg-dark">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i id="imi" class="checkmark">✓</i>
      </div>
        <h1 id="imh">Success</h1> 
        <p id="imp">Your Password Has Been Changed Successfully;<p> <br>
        <a class="btn-lg btn-danger" href="{% url 'login' %}"><i class="fa fa-user-circle" aria-hidden="true"></i> Sign In</a> 
        </div>
    </div>
{% endblock content %}





