{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<style>
    footer{
            margin-top: 400px!important;
        }
    body{
    background-image: url('{% static "app/login.png" %}');
    size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
   
     }
    .alert-danger ul {
        list-style: none;
        padding-left: 0;
    }
    #mhi {
      
      text-shadow: 3px 5px 8px rgb(253, 253, 253);
      
       width: 700px;
      height: 50px;
      font-weight: bold;
      position: relative;
      animation: myfirst 10s linear 1s infinite alternate;
  }

  @keyframes myfirst {
  
0%   {left:0px; top:0px;}
25%  {left:200px; top:0px;}
50%  {left:0px; top:0px;}
75%  {left:200px; top:0px;}
100% {left:0px; top:0px;}
}
</style>
{% endblock css %}


{% block content %}
<br>
<h1 id="mhi" style="text-align: center; margin-left: 30%; color: blue;">Password Reset Form</h1>
<div class="container">
    <div class="row my-5">
        <div class="col-lg-4 col-sm-6 mx-auto formarea">
            <div class="card text-white" style="background-color: rgb(32, 30, 30);">
                <div class="card-body">
                    <h4 class="card-title">Password reset form</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button  class="btn btn-primary btn-sm btn-block">change password</button>
                    </form>
                </div>
                <div class="card-footer">
                   <a class="card-link" href="{% url 'login' %}">cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script>
    $(function () {
        anime({
            targets: '.formarea',
            translateY: '15%'
        });
    });
</script>
{% endblock js %}