{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<style>
    body {
        text-align: center;
        background-image: url('{% static "app/login.png" %}');
        size: cover;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    .alert-danger ul {
        list-style: none;
        padding-left: 0;
    }
    #mhi {
      
      text-shadow: 3px 5px 8px rgb(253, 253, 253);
      
       width: 700px;
      height: 50px;
      font-weight: bold;
      position: relative;
      animation: myfirst 10s linear 1s infinite alternate;
  }

  @keyframes myfirst {
  
0%   {left:0px; top:0px;}
25%  {left:200px; top:0px;}
50%  {left:0px; top:0px;}
75%  {left:200px; top:0px;}
100% {left:0px; top:0px;}
}
footer{
            margin-top: 500px!important;
        }
</style>
{% endblock css %}


{% block content %}
<br>
<h1 id="mhi" style="text-align: center; margin-left: 28%; color: blue;">Forget Password</h1>
<div class="container" style="margin-top: 10%;">
    <div class="row my-5">
        <div class="col-lg-4 col-sm-6 mx-auto formarea">
            <div class="card text-white" style="background-color: rgb(32, 30, 30);">
                <div class="card-body">
                    <h4 class="card-title text-center">Forgot password<i class="fa fa-question" aria-hidden="true"></i></h4>
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button  class="btn btn-danger btn-sm btn-block">reset</button>
                        <a class="btn btn-info btn-sm btn-block" href="{% url 'login' %}">back to login</a>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script>
    $(function () {
        anime({
            targets: '.formarea',
            translateY: 150
        });
    });
</script>
{% endblock js %}
