{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<br>
<h1 id="mhi" style="text-align: center; margin-left: 30%; color: blue;">Contact Us</h1> <br>
<div class="container mx-auto bg-dark" id="fdm">
    <form method="post" >
        {% csrf_token %}
        {{c_form|crispy}}
        <input id="mpb" type="Submit" class="btn btn-primary btn-lg btn-block mx-auto" >
    
    </form>
        
</div>

{% endblock content %}


{% block css %}
    <style>
        #fdm{
            width: 15cm;
        }
        #fdm{
        border: 1px solid gray;
        /* padding: 2%; */
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 50px;

        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;

        }
        #mpb {
    width: 300px;
    height: 50px;
    
    transition: width 1s, height 1s;
    }

    #mpb:hover {
    width: 456px;
    height: 50px;
    }





    #mhi {
      
        text-shadow: 3px 5px 8px rgb(253, 253, 253);
        
         width: 700px;
        height: 50px;
        font-weight: bold;
        position: relative;
        animation: myfirst 10s linear 1s infinite alternate;
    }

    @keyframes myfirst {
    
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:0px; top:0px;}
  75%  {left:200px; top:0px;}
  100% {left:0px; top:0px;}
}
label{
        font-weight: bold;
        color: white;
    }
    body{
        size: cover;
        background-image: url('{% static "app/background2.jpg" %}');
        
        background-repeat: no-repeat;
        background-size: 100%
        
    }
    footer{
            margin-top: 240px!important;
        }

    </style>
{% endblock css %}
    
     

